.navbar {
  width: 100%;
  background: rgba(0, 105, 109, 0.6);
  color: white;
  top: 0;
  min-height: 56px;
  height: 7vh;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 0 24px -4px black;

  button {
    margin: 32px;
    background-color: rgb(48, 157, 172);
    border: 2px solid white;
    color: white;
    padding: 6px;
    padding-top: 3px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    
    transition: color 0.5s, background-color 0.5s;
  }

  img {
    height: 90%;
    margin-left: 4rem;
  }

  button:hover {
    background-color: white;
    color: rgb(170, 129, 24);;
  }
}