.form {
  display: flex;
  align-items: center;
  flex-direction: column;

  .form-fields {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 95%;

    .field {
      width: 95%;
      margin: 8px;

      .field-label {
        margin-right: 12px;
      }

      .field-input {
        color: black;
        border: 1px solid gray;
        border-radius: 12px;
        padding: 12px;
        font-size: 16px;
        height: 24px;
        margin: 0 12px;
        align-self: center;
        flex-shrink: 500;

        transition: border 0.6s;
      }

      .field-input:focus {
        border: 1px solid skyblue;
      }
    }
  }

  button {
    height: 48px;
    margin: 16px;
    background: goldenrod;
    border: none;
    box-shadow: 0 0 16px -8px gray;
    border-radius: 16px;
    outline: none;
    cursor: pointer;

    width: 60%;

    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 24px;

    transition: background 0.2s;
  }

  button:hover {
    background: rgb(241, 193, 69);
  }

  @media (max-width: 420px) {
    button {
      width: 95%;
    }
  }
}
