.landing {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: rgb(56, 56, 56);
  z-index: -1;
  justify-content: center;
  align-items: center;

  .content {
    z-index: 1;

    // ALL CONTENT GOES HERE **************

    background: rgba(255, 255, 255, 0.97);
    border-radius: 16px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 16px -7px black;

    .italic {
      font-style: italic;
    }

    .intro {
      max-width: 480px;
    }

  }

  .bg-img {
    position: fixed;

    width: 100%;
    max-width: 800px;
    z-index: 0;
  }

  .beta {
    color: crimson;
    font-style: italic;
    font-size: 16px;
    font-weight: bolder;
  }

  .no-italic {
    font-style: normal;
  }

  .black {
    color: black;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: rgb(236, 184, 53);

      transition: color 0.2s;

      margin: 0 0.5rem;
    }

    .row {
      flex-direction: row;
      justify-content: center;
    }

    a:hover {
      color: rgb(247, 199, 78);
    }

    .foot-text {
      color: darkgray;
      font-style: italic;
    }
  }
}
