.map {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 93vh;
  height: 100%;
  background: rgb(56, 56, 56);
  z-index: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

.map .bg-img {
  position: fixed;
  
  width: 100%;
  max-width: 800px;
  z-index: -1;
}

.noselection {
  background: gray;
  padding: 2rem;
  user-select: none;
  border-radius: 7px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-style: italic;
  box-shadow: 0 0 5px 0 black;
  z-index: 1;
}