.map {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 93vh;
  height: 100%;
  background: rgb(56, 56, 56);
  z-index: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

.map .bg-img {
  position: fixed;
  
  width: 100%;
  max-width: 800px;
  z-index: -1;
}

.noselection {
  background: gray;
  padding: 2rem;
  user-select: none;
  border-radius: 7px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-style: italic;
  box-shadow: 0 0 5px 0 black;
  z-index: 1;
}

.add-module-button {
  background: rgba(120, 220, 120, 0.75);
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  right: 10px;
  transform: translateY(10px);
  width: 18px;
  height: 18px;
  text-align: center;
  vertical-align: center;
  font-weight: bolder;
  color: white;
  box-shadow: 0 0 4px 0 black;
  cursor: pointer;
  user-select: none;
}

.add-module-button:hover {
  background: rgba(120, 220, 120, 1);
}