.property {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 1rem;

  height: 60px;

  background: RGBa(255, 255, 255, 0.05);
  cursor: pointer;
  user-select: none;

  transition: background 0.5s;
}

.property:hover {
  background: RGBa(255, 255, 255, 0.25);
}

.property .type {
  display: flex;
  font-style: italic;
  color: lemonchiffon;
  font-weight: bold;
  font-size: 18px;
  margin: 0 9px;
}

.property .returns {
  position: absolute;
  transform: translateX(150px) translateY(-3px);
}

.property .delete {
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  margin: 1px;
  opacity: 0.3;
  margin-left: 1rem;
  min-width: 28px;
  width: 28px;
  height: 28px;
  align-self: center;
  cursor: pointer;
  border-radius: 25%;

  transition: background 0.2s, opacity 0.2s;
}

.property:hover .delete {
  opacity: 1;
  justify-content: center;
}

.property:hover .delete:hover {
  background: red;
}